{
  "app": {
    "guid": "3bc57cbf-5310-49b0-b61b-72f1084bfcd5",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.rdfrdfdf",
    "artifactId": "io.cronapp.apps.rdfrdfdf"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "M2JjNTdjYmYtNTMxMC00OWIwLWI2MWItNzJmMTA4NGJmY2Q1",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "security.oauth2.client.accessTokenUri": "accessTokenUri",
      "cronapp.framework.mailer.username": "email@gmail.com",
      "springdoc.swagger-ui.enabled": "true",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "springdoc.swagger-ui.path": "/api/metadata/",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "userAuthorizationUri",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.resource.userInfoUri": "userInfoUri",
      "springdoc.swagger-ui.url": "/api/metadata/configuration",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "clientId",
      "cronapp.framework.mailer.password": "password",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "cronapp.framework.mailer.port": "587",
      "security.oauth2.client.clientSecret": "clientSecret",
      "springdoc.api-docs.enabled": "true",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.rdfrdfdf",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "projectName": "rdfrdfdf",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "xframeOptions": "SameOrigin"
}