<style title="local">
    #crn-heading-reset {
        text-align: center;
        margin-bottom: 54px;
        font-weight: bold;
    }
    
    #crn-input-inline-resetPassowordEmail {
        border: none;
        text-align: left;
        border-bottom: 1px solid #c0c0c0;
        margin-bottom: 5px;
    }
    
    #crn-container-445023 {
        padding: 1px;
    }
    
    button#button-reset-password {
        letter-spacing: 0px;
        border-radius: 6px;
        margin: 0px;
    }
    
    a#crn-button-voltarLogin {
        padding-left: 14px;
        padding-right: 14px;
        background-color: rgb(255, 255, 255);
        float: right;
    }
    
    #ion-header {
        border: none;
    }
</style><ion-view class="pane">
    <ion-content data-component="crn-ion-content" class="scroll-content" style="padding: 0px;">

        <div class="bar bar-header" id="ion-header" style="text-align: right; display: block;">
            <a aria-label="{{'Signup.view.Back' | translate}}" class="button component-holder" type="" xattr-fullsize="" xattr-theme="" href="#/app/login" data-component="crn-button" id="crn-button-voltarLogin" xattr-size="" style="text-align: right;">
                <i class="ion ion-close" xattr-icon-theme=""></i>
            </a>
        </div>

        <div data-replace="true" data-component="crn-container" class="containerMobile " id="crn-container-445023">
            <h1 data-component="crn-heading" class="component-holder" id="crn-heading-reset">{{'ForgotPassword' | translate}}</h1>

            <form crn-datasource="" data-component="crn-form">
                <div class="component-holder ng-binding ng-scope" data-component="crn-form" id="crn-form-reset-password">

                    <div class="item item-input component-holder" data-component="crn-input-inline" id="crn-input-inline-resetPassowordEmail">
                        <span class="input-label">{{'ForgotPasswordEmail' | translate}}</span>
                        <input type="email" ng-model="vars.resetPassowordEmail" id="resetPassowordEmail" aria-label="{{'ForgotPasswordEmail' | translate}}" placeholder="{{'ForgotPasswordEmail' | translate}}" mask="" keyboard="email">
                    </div>

                </div>
            </form>

        </div>
        <div class="bar bar-footer" id="ion-footer" style="height: 54px;">
            <button aria-label="{{'Submit' | translate}}" class="button button-positive component-holder buttonFooter button-full" type="submit" xattr-fullsize="button-full" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.auth.UserControl.resetPassword').names('7b9f3909').run(vars.resetPassowordEmail)" data-component="crn-button" id="button-reset-password" xattr-size=""><span>{{'Submit' | translate}}</span> </button>
        </div>
    </ion-content>
</ion-view>